package store

templ CheckoutButton() {
    <sl-button 
        variant="warning"
        size="small"
        class="h-12 plain"
    >
        <p class="text-xs h-full m-2 my-4">
            Beli Sekarang
        </p>
    </sl-button>
}