@tailwind base;
@tailwind components;
@tailwind utilities;

sl-card.ltr::part(base) {
  flex-direction: row;
  width: 100%;
}

sl-tab::part(base) {
  padding: 0;
  margin: 0;
}

sl-card::part(body) {
  padding: 0;
  margin: 0;
}

sl-card.list::part(body) {
  width: 65%;
  padding: 0;
  margin: 0;
}

sl-button.plain::part(base) {
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

sl-card.disabled::part(base) {
  background-color: rgb(241 245 249);
}

slot.card__body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.card.card--has-image {
  margin: 0;
  padding: 0;
  width: 100%;
}

sl-icon-button::part(base) {
  padding: 0;
  margin: 0;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media only screen and (max-width: 375px) {
  sl-card.list::part(body) {
    width: 60%;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  sl-card.list::part(body) {
    width: 53%;
    padding: 0;
    margin: 0;
  }
}

.pop-out {
  opacity: 1;
  transition: all 200ms ease-out;
}
.pop-out.htmx-added {
  opacity: 0;
}
.pop-out.htmx-settling {
  opacity: 0;
}
